body{
    background-color: #f9f9f9;
}

.copy-rights {
    text-align: center;
    margin-top: 2em;
}
.copy-rights p {
    font-family: "Microsoft YaHei UI";
    color: #2B2B36;
    font-size: 1em;
    line-height: 1.8em;
}
.copy-rights p a {
    color: #ff2a75;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-decoration: none;
}
.copy-rights p a:hover {
    color: #3faa53;
    text-decoration: none;
    transition: 0.1s all;
    -webkit-transition: 0.1s all;
    -moz-transition: 0.1s all;
    -o-transition: 0.1s all;
}

.school_icon{
    width: 55px;
    margin: 0 5px;
}
.main-tab{
    text-align: center;
    padding: 0 100px;
}
.tab-content{
}
.tab-item{
    margin: 35px 30px 0 30px;
    height: 150px;
    width: 250px;
    background-color: rgba(69,88,116,0.9);
    box-shadow: 5px 5px 18px #888888;
    display: inline-block;
    border: 2px solid rgba(255, 255, 255, 0);
    text-align: left;
    cursor: pointer;
    font: 20px Microsoft YaHei, Arial,sans-serif;
    color: #b9c2cf;
    padding: 10px 10px;
}
.tab-item:hover{
    border: 2px solid #c8c8c8;
    background-color: #fff;
    color: rgba(69,88,116,1);
    box-shadow:0px 1px 8px rgba(200,200,200,.6);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 05s all;
}
.tab-item img{
    height: 128px;
    width: 128px;
}

/*min-width*/
.top{
    min-width: 987px;
}
.head{
    /*min-width: 1310px;*/
    min-width: 1007px;
}
.main-tab{
    /*min-width: 1000px;*/
    min-width: 800px;
}
.copy-rights{
    /*min-width: 1200px;*/
    min-width: 800px;
}
.copy-rights p{
    margin: 0;
}

.tab-head {
	border-bottom: 4px solid #fb9337;
}